<h2 class="mt-10 mb-1 font-bold uppercase">All CORE Reports</h2>
<ul>
  <li><%= link_to 'Count Report', reports_core_count_url, class: 'text-blue hover:underline' %></li>
  <li><%= link_to 'Counts by Database Report', reports_core_counts_by_database_url, class: 'text-blue hover:underline' %></li>
  <li><%= link_to 'Counts by Vendor Report', reports_core_counts_by_vendor_url, class: 'text-blue hover:underline' %></li>
  <li><%= link_to 'Flagged PO Report', reports_core_flagged_po_url, class: 'text-blue hover:underline' %></li>
  <li><%= link_to 'Order Report', reports_core_order_url, class: 'text-blue hover:underline' %></li>
  <li><%= link_to 'Purchase Order Report', reports_core_purchase_order_url, class: 'text-blue hover:underline' %></li>
  <li><%= link_to 'Purchase Orders By Database Report', reports_core_purchase_orders_by_database_url, class: 'text-blue hover:underline' %></li>
  <li><%= link_to 'Purchase Orders By Vendor Report', reports_core_purchase_orders_by_vendor_url, class: 'text-blue hover:underline' %></li>
  <li><%= link_to 'Processor Report', reports_core_processor_url, class: 'text-blue hover:underline' %></li>
  <li><%= link_to 'Trend Report', reports_core_trend_url, class: 'text-blue hover:underline' %></li>
  <li><%= link_to 'Timings Report', reports_core_timings_url, class: 'text-blue hover:underline' %></li>
</ul>
